/* Sidebar (plus foncée en mode sombre) */
.sidebar { -fx-background-color: #0f172a; -fx-padding: 20; }
.logo-text { -fx-text-fill: #14b8a6; -fx-font-size: 24px; -fx-font-weight: bold; }
.user-profile { -fx-background-color: #1e293b; -fx-padding: 10; -fx-background-radius: 8; }
.user-avatar { -fx-background-color: #14b8a6; -fx-text-fill: white; -fx-padding: 10; -fx-background-radius: 50; }
.user-name { -fx-text-fill: white; -fx-font-weight: bold; }
.user-email { -fx-text-fill: #64748b; -fx-font-size: 11px; }

.menu-btn { -fx-background-color: transparent; -fx-text-fill: #64748b; -fx-alignment: CENTER_LEFT; -fx-pref-width: 200; -fx-font-size: 14px; -fx-cursor: hand; -fx-padding: 10 0 10 20; }
.menu-btn:hover { -fx-text-fill: #14b8a6; -fx-background-color: #1e293b; -fx-background-radius: 5;}
.theme-btn { -fx-background-color: transparent; -fx-border-color: #14b8a6; -fx-border-radius: 5; -fx-text-fill: #14b8a6; -fx-cursor: hand; }

/* Zone de contenu principale sombre */
.content-area { -fx-background-color: #1e293b; }
.label { -fx-text-fill: #f8fafc; } /* Les textes de l'application deviennent blancs */
.text-field, .combo-box, .text-area { -fx-background-color: #334155; -fx-text-fill: white; }
.root {
    /* Couleurs Mode Sombre */
    -bg-main: #020617;
    -bg-sidebar: #0f172a;
    -bg-card: #1e293b;
    -text-primary: #f8fafc;
    -text-secondary: #94a3b8;
    -border-color: #1e293b;
    -accent: #14b8a6;
    -profile-bg: #1e293b;
    -hover-bg: #334155;
}